.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: rgba(0,0,0,0.7);
    height: 5vh;
    color: white;
    text-align: center;
    font-size: 12.5px;
}

